@media (max-width: 680px){

    .card{
        display: block;
        width:100%;
        margin-bottom: 30px;
        text-align: justify;
    }

    .card img{
    display: inline;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    }

    .logo{
        clear: both;
        width: 50px;
    }

    h1{
    font-size: 3.5rem;
    clear: both;
    text-align: center;
    }

    h2{
    font-size: 1.5rem;
    }

}

body{
    background-color: #ffffff;
    font-family: "Momo Trust Display", sans-serif;
    font-style: normal;
    margin: 50px 50px 0 50px;
}

.card img{
    display: inline-block;
}
.card{
    width: 45%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.title-image{
    float: left;
    margin-right: 50px;
    width: 200px;
    height: 250px;
}
footer{
    clear: both;
    text-align: right;
}
.logo{
    clear: both;
    width: 100px;
}
h1{
  
  font-size: 5rem;
  clear: both;
}
h2{
  
  font-weight: 1.5rem;
  
}
p{
    font-family: 'Courier New', Courier, monospace;
}
span{
    color: palevioletred;
}


